# Core dependencies
Flask==3.1.0
flask-cors==5.0.1
flask-talisman==1.1.0
Flask-Limiter==3.10.1
Flask-Limiter[redis]==3.10.1
torch==2.6.0
torchvision==0.21.0
Pillow==11.1.0

# Production server
gunicorn==23.0.0

# Security and utility
werkzeug==3.1.3