@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  font-family: 'Inter', sans-serif;
}

.logo {
  will-change: filter;
  transition: filter 3000ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #ffffff);
}